@model NoteListPageVM
@{
    ViewBag.Title = "ListNotes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <table class="table table-bordered">
        <tr>
            <th>Öğrenci</th>
            <th>Ders</th>
            <th>Sınav 1 </th>
            <th>Sınav 2</th>
            <th>Sınav 3</th>
            <th>Proje</th>
            <th>Ortalama</th>
            <th>Durum</th>
        </tr>
        <tbody>
            @foreach (NoteVM item in Model.Notes)
            {
                <tr>
                    <th>@item.StudentName</th>
                    <th>@item.LessonName</th>
                    <th>@item.Exam1</th>
                    <th>@item.Exam2</th>
                    <th>@item.Exam3</th>
                    <th>@item.Project</th>
                    <th>@item.Avarage</th>
                    <th>@item.Case</th>
                </tr>
            }
        </tbody>
    </table>
</div>

